@model myappPc1.Models.calculadora

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calcular</title>
</head>
<body>

<form asp-controller="calculadora" asp-action="calcular">

    Calcular costo:

    <div class="form-group">
    <div class="col-sm-8 col-sm-offset-2">
      <strong><label for="Nombre">Nombre</label></strong>
      <input asp-for="Nombre" type="text" class="form-control" id="Nombre" placeholder="Ingrese su Nombre">      
    </div>
    <br>

    <div class="input-group">
            <div class="col-sm-8 col-sm-offset-2">
                <strong><label asp-for="Cursos"></label></strong>
            </div>
                <div class="col-sm-8 col-sm-offset-2">
               <input type="checkbox" asp-for="Matematica">
               <input asp-for="Matematica" type="hidden" value="Matematica"/>
               <label asp-for="Matematica" class="control-label"></label>
                </div>
                <div class="col-sm-8 col-sm-offset-2">
               <input type="checkbox" asp-for="Lenguaje">
               <label asp-for="Lenguaje" class="control-label"></label>
                </div>
                <div class="col-sm-8 col-sm-offset-2">
               <input type="checkbox" asp-for="Historia">
               <label asp-for="Historia" class="control-label"></label>
                </div>
    </div>

<div class="form-group">
<div class="col-sm-8 col-sm-offset-2">
    <div>
        <button type="submit" class="btn btn-primary">Calcular</button> 
    </div>
</div>
</div>

</form>
<h2>@ViewData["Message1"]</h2>
<h2>@ViewData["Message2"]</h2>
<h2>@ViewData["Message3"]</h2>
<h2>@ViewData["Message4"]</h2>
</body>
</html>